/* ! adding basic padding and margin to the page */
* {
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

